

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 100px;
}

.footer {
    background: #620808e4;
    margin: 0px;
    padding: 20px 0px 20px 0px;
    color: white;

    font-style: oblique;
    font-size: 17px;
    font-weight:bolder;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #620808;
    color: rgb(221, 220, 220);

}

.address {
    font-size: 80%;
    margin: 0px;
    color: black;
}

body {
    padding: 50px 0px 0px 0px;
}

.navbar-dark {
    background-color: #c2b968;

    font-style: oblique;
    font-size: 17px;
    font-weight:bolder;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/* CALCULATOR */
.container-calc {
    font-style: oblique;
    font-size: 12px;
    font-weight:bolder;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #c2b968;
    
} 

.counter-minus, .resetButton, .counter-plus {
    background-color: #c2b968;
    border-radius: 8px;
    color: #620808;
    padding: 7px;
    display: inline-block;
    font-size: 12px;
}

.counter-minus:hover, .resetButton:hover, .counter-plus:hover {
    background-color: #c2b968
}

.counter-minus:active, .resetButton:active, .counter-plus:active {
    background-color: #c2b968;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.list-items {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    line-height: .85em;
    font-size: 20px;
    text-align: left;
}

.list-buttons {
    padding-left: 0px;
    padding-bottom: 5px;
    line-height: .1em;
    font-size: large;
    text-align: center;
}

.counter-display {
    font-size: large
}

.total {
    font-size: large;
    padding-top: 15px;
}

.calculate-display {
    padding-left: 5px;
    font-size: 20px;
}