* {
  font-style: oblique;
  font-weight:bolder;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.navbar-dark {
  background-color: #c2b968;

  font-style: oblique;
  font-size: 17px;
  font-weight:bolder;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.jumbotron {
  padding: 50px;
  margin: 0px auto;
  background: #620808;
  color: rgb(221, 220, 220);
  font-style: oblique;
  font-weight:bolder;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 17px;
}

body {
  padding: 50px 0px 0px 0px;
}
.footer {
  background: #620808;
  margin: 0px;
  padding: 20px 0px 20px 0px;
  color: white;

  font-style: oblique;
  font-size: 17px;
  font-weight:bolder;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.item {
  position:relative;
  overflow:hidden;
  margin-bottom:20px;
}
.item h4, .item p {
  display:block;
  clear:both;
  color:#620808;
}
.item p {
  clear:both;
  color:#c2b968;
  margin-left:15px;
  font-size: smaller;
}
.item span:first-of-type {
  background-image:linear-gradient(to right,rgba(56,47,47,.5) 33%,rgba(0,0,0,0) 0%);
  background-position:bottom;
  background-size:3px 1px;
  background-repeat:repeat-x;
  height:1px;
  width:100%;
  position:absolute;
  top:22px;
}

.veggie {
  color:#82b440;
  border-color:#82b440;
}
.spicy {
  color:#ec4e00;
  border-color:#ec4e00;
}

.item h4 {
  display:inline-block;
  padding-right:8px;
  font-size:1.25rem;
  max-width:80%;
  text-transform:capitalize;
  margin-bottom:4px;
  position:relative;
}


.row-bottom {
  color: #620808;
}



.accordion-button:not(.collapsed) {
  color: #620808  !important;
  background-color: #c2b968 !important;
}

.accordion-button:link, .accordion-button:active  {
  background-color: #620808 !important; 
  color:#FFF !important; 
}
.accordion-button:after {
  color: green;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23620808'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

