* {
  background-color: #620808;
  font-style: oblique;
  font-size: 25px;
  font-weight:bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #c2b968;
}

.flex-container {
    display: flex;
}

.flex-child {
    border: 2.5px solid #c2b968;
    border-radius: 10px;
    min-width: 100px;  
    height: 485px;
}


.counter-minus {
    background-color: #c2b968;
    border-radius: 8px;
    color: #620808;
    padding: 7px;
    display: inline-block;
    font-size: 12px;
    position: relative;
    bottom: 5px;
}
.counter-minus:hover {background-color: #c2b968}
.counter-minus:active {
background-color: #c2b968;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.counter-plus {
    background-color: #c2b968;
    border-radius: 8px;
    color: #620808;
    padding: 7px;
    display: inline-block;
    font-size: 12px;
    position: relative;
    bottom: 5px;
}
.counter-plus:hover {background-color: #c2b968}
.counter-plus:active {
background-color: #c2b968;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.list-items {
    /* display: inline-block; */
    padding-left: 10px;
    line-height: 1.5em;
    font-size: larger;
    text-align: justify;
    
}

.list-buttons {
    /* display: inline-block; */
    padding-left: 0px;
    line-height: 1.50em;
    font-size: larger;
    text-align: center;
}

.total {
text-align:justify;
}